.App {
    padding: 20px;
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
    color: #FF6347; /* Tomato color */
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .button-container .MuiButton-root {
    margin: 10px;
    background-color: #FF6347; /* Tomato color */
    color: white;
    border-radius: 25px; /* More rounded corners */
    padding: 12px 24px; /* Slightly larger padding */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform for subtle scaling effect */
  }
  
  .button-container .MuiButton-root:hover {
    background-color: #FFA07A; /* Light Salmon color */
    transform: scale(1.05); /* Slight scaling effect on hover */
  }
  
  .search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-bar-container .MuiTextField-root {
    width: 60%;
    background-color: #ffffff; /* White background for search bar */
    border-radius: 25px; /* More rounded corners */
  }
  
  .search-bar-container .MuiTextField-root input {
    padding: 12px; /* Consistent padding */
  }
  
  .search-bar-container .MuiButton-root {
    background-color: #FF6347;
    color: white;
    margin-left: 10px;
    border-radius: 25px; /* More rounded corners */
    padding: 12px 24px; /* Larger padding */
    font-weight: bold;
  }
  
  .search-bar-container .MuiButton-root:hover {
    background-color: #FFA07A;
  }
  
  .recipe-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px; /* Add margin at the bottom to create a gap from the footer */
  }
  
  .recipe-segment {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fffaf0; /* Ivory */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-size: cover; /* Ensure the background image covers the entire segment */
    background-position: center; /* Center the background image */
    height: 250px; /* Adjust height as needed */
    color: white; /* White text color */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items to the bottom */
    align-items: center;
    font-weight: bold;
    padding: 10px;
  }
  
  .recipe-segment .recipe-info {
    background-color: rgba(255, 255, 255, 0.8); /* Light background for text */
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  
  .recipe-segment h3, .recipe-segment p {
    margin: 0;
    color: #333; /* Darker color for better contrast */
  }
  
  @media (max-width: 768px) {
    .recipe-list {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .recipe-list {
      grid-template-columns: 1fr; /* Single column for very small screens */
    }
  }
  