/* Global color palette defined as CSS variables */
:root {
  --red: #FF0000;
  --white: #FFFFFF;
  --black: #000000;
}

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'Suisse Intl', sans-serif;
  background-color: var(--white); /* White as the default background */
  color: var(--black); /* Black color for text */
}
